<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JOInformatik.DawaReplication.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <!-- Integrated security connection string example:
    <add name="DawaDatabase" connectionString="Data Source=Insert server name or adress here;initial catalog=DAWA_REPLICATION;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/> -->
    <!-- SQL server database user connection string example:
    <add name="DawaDatabase" connectionString="Data Source=Insert server name or adress here;Initial Catalog=DAWA_REPLICATION;Integrated Security=False;Persist Security Info=True;User Id=Insert database username;Password=xxxxx;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" /> -->
    <add name="DawaDatabase" connectionString="Data Source=.;initial catalog=DAWA_REPLICATION;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/> 
  </connectionStrings>

  <!--<appSettings>
    Environment values: local, udv, test og blank (=tom) hvis prod.
    <add key="Dawa_Env" value=""/>
    <add key="Dawa_InsightKey" value="a01234567-89a0-1234-5678-9a0123456789"/>
    <add key="Dawa_CloudRoleName" value="xxxxxx"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings> -->
 

  <log4net debug="false">
    <root>
      <!-- The root level is used to only allow logging based on the given value and above for all appenders. -->
      <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG or ALL -->
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\DawaReplication.log"/>
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd.lo\g"/>
      <rollingStyle value="Date"/>
      <StaticLogFileName value="true"/>
      <!-- Max antal filer, foer aeldste slettes: -->
      <MaxSizeRollBackups value="100"/>
      <ImmediateFlush value="true"/>
      <Threshold value="ALL"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date{yyyy-MM-dd HH:mm:ss} [%4thread] %logger{2} %message%newline"/>
      </layout>
    </appender>
    <appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
      <Threshold value="ALL"/>
    </appender>
  </log4net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.1" newVersion="4.5.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.6.0" newVersion="2.2.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FastMember.Signed" publicKeyToken="9e8f22703bef9a29" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore.Relational" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.6.0" newVersion="2.2.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetTopologySuite" publicKeyToken="f580a05016ebada1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.15.1.0" newVersion="1.15.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.7.5.0" newVersion="1.7.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.FileExtensions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- EntityProcessMode: Udtraek, Update eller Dagi -->

  <applicationSettings>
    <JOInformatik.DawaReplication.Properties.Settings>
      <setting name="DawaApiUri" serializeAs="String">
        <value>https://dawa.aws.dk/</value>
      </setting>
      <setting name="DawaApiReadTimeoutInSeconds" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="TableInfoFile" serializeAs="String">
        <value>ProdTableInfoList.csv</value>
      </setting>
      <setting name="TxidOverride" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RetryTimerInMinutes" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="RetryCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DKStedDataStartPos" serializeAs="String">
        <value>96</value>
      </setting>
      <setting name="DKStedBulkSize" serializeAs="String">
        <value>2500</value>
      </setting>
      <setting name="DBCommandTimeoutInSeconds" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="TempDataFolderPath" serializeAs="String">
        <value>Temp</value>
      </setting>
      <setting name="EntitystateHistoryDeleteOldNumOfDays" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="WaitForUserInput" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UdtraekBulkSize" serializeAs="String">
        <value>2500</value>
      </setting>
      <setting name="DeleteLogsAfterDays" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="ArchiveLogsAfterDays" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="DeleteOldArchivesAfterDays" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ActiveFixesListFileLocation" serializeAs="String">
        <value>FixList.csv</value>
      </setting>
      <setting name="UdtraekRowsMax" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ActiveFixes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DawaTestApiUri" serializeAs="String">
        <value>https://dawa.aws.dk/</value>
      </setting>
      <setting name="UseMSApplicationInsights" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="JsonSerializerIgnoreNullValue" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RebuildIndicesAfterReplication" serializeAs="String">
        <value>True</value>
      </setting>
    </JOInformatik.DawaReplication.Properties.Settings>
  </applicationSettings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

</configuration>
